In [26]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [182]:
data_url = "/content/gdrive/MyDrive/UNI/Big Data Problem/Manhattan12.csv"
df = pd.read_csv(data_url)
df.shape

(27395, 21)

In [183]:
df = df.rename(columns={"SALE\nPRICE":"PRICE", "APART\nMENT\nNUMBER":"APARTMENT NUMBER"}) #rename columns
df["ZIP CODE"] = df["ZIP CODE"].astype(str)
df['YEAR BUILT'] = pd.to_datetime(df['YEAR BUILT'])
df['YEAR BUILT'] = df["YEAR BUILT"].dt.year
df.set_index('YEAR BUILT')
#remove ,/$ in int columns
df['PRICE'] = df['PRICE'].str.replace(',', '')
df['PRICE'] = df['PRICE'].str.replace('$', '')
df['PRICE'] = df["PRICE"].astype(int)
df['LAND SQUARE FEET'] = df['LAND SQUARE FEET'].str.replace(',', '')
df['LAND SQUARE FEET'] = df['LAND SQUARE FEET'].str.replace('$', '')
df['LAND SQUARE FEET'] = df["LAND SQUARE FEET"].astype(int)
df['GROSS SQUARE FEET'] = df['GROSS SQUARE FEET'].str.replace(',', '')
df['GROSS SQUARE FEET'] = df['GROSS SQUARE FEET'].str.replace('$', '')
df['GROSS SQUARE FEET'] = df["GROSS SQUARE FEET"].astype(int)
df['SALE DATE'] = pd.to_datetime(df['SALE DATE']) #convert to datetime
#replace all 0s
df.replace(0, np.nan, inplace=True) 
df.replace("0", np.nan, inplace=True)
df.info() #show info
print("\n\nTotal NaN at each column in DataFrame : \n\n", df.isnull().sum()) #summarise null values
df = df.drop(columns=['BOROUGH', 'EASE-MENT', 'APARTMENT NUMBER']) #drop columns
df.drop_duplicates(keep=False, inplace=True) #drop dups
df=df.dropna() #drop nas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27395 entries, 0 to 27394
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         27395 non-null  int64
 1   NEIGHBORHOOD                    27378 non-null  object
 2   BUILDING CLASS CATEGORY         23941 non-null  object
 3   TAX CLASS AT PRESENT            27252 non-null  object
 4   BLOCK                           27395 non-null  int64
 5   LOT                             27395 non-null  int64
 6   EASE-MENT                       0 non-null      float64
 7   BUILDING CLASS AT PRESENT       27252 non-null  object
 8   ADDRESS                         27395 non-null  object
 9   APARTMENT NUMBER                12825 non-null  object
 10  ZIP CODE                        27394 non-null  object
 11  RESIDENTIAL UNITS               11023 non-null  object
 12  COMMERCIAL UNITS                3433 non-null   float64
 13  TOTAL UNITS                     17691 non-null  object
 14  LAND SQUARE FEET                4489 non-null   float64
 15  GROSS SQUARE FEET               4326 non-null   float64
 16  YEAR BUILT                      27395 non-null  int64
 17  TAX CLASS AT TIME OF SALE       27395 non-null  int64
 18  BUILDING CLASS AT TIME OF SALE  27395 non-null  object
 19  PRICE                           19802 non-null  float64
 20  SALE DATE                       27395 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(5), object(10)
memory usage: 4.4+ MB


Total NaN at each column in DataFrame :

 BOROUGH                               0
NEIGHBORHOOD                         17
BUILDING CLASS CATEGORY            3454
TAX CLASS AT PRESENT                143
BLOCK                                 0
LOT                                   0
EASE-MENT                         27395
BUILDING CLASS AT PRESENT           143
ADDRESS                               0
APARTMENT NUMBER                  14570
ZIP CODE                              1
RESIDENTIAL UNITS                 16372
COMMERCIAL UNITS                  23962
TOTAL UNITS                        9704
LAND SQUARE FEET                  22906
GROSS SQUARE FEET                 23069
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
PRICE                              7593
SALE DATE                             0
dtype: int64

<ipython-input-183-f2ece14e6e2d>:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['PRICE'] = df['PRICE'].str.replace('$', '')
<ipython-input-183-f2ece14e6e2d>:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['LAND SQUARE FEET'] = df['LAND SQUARE FEET'].str.replace('$', '')
<ipython-input-183-f2ece14e6e2d>:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GROSS SQUARE FEET'] = df['GROSS SQUARE FEET'].str.replace('$', '')

In [ ]:
sns.scatterplot(data=df, x="GROSS SQUARE FEET", y="PRICE")
plt.show()
sns.scatterplot(data=df, x="LAND SQUARE FEET", y="PRICE")

In [180]:
df = df[np.abs(df.PRICE-df.PRICE.mean()) <= (2*df.PRICE.std())]
df = df[np.abs(df["GROSS SQUARE FEET"]-df["GROSS SQUARE FEET"].mean()) <= (2*df["GROSS SQUARE FEET"].std())]
df = df[np.abs(df["LAND SQUARE FEET"]-df["LAND SQUARE FEET"].mean()) <= (2*df["LAND SQUARE FEET"].std())]

In [ ]:
sns.scatterplot(data=df, x="GROSS SQUARE FEET", y="PRICE")
plt.show()
sns.scatterplot(data=df, x="LAND SQUARE FEET", y="PRICE")

In [ ]:
df['PRICE'].hist()
df['PRICE'].describe()

In [ ]:
df.shape

In [184]:
df.head()

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,PRICE,SALE DATE
24,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,385,1,C7,17 AVENUE B,10009,7,1.0,8,2093.0,5852.0,1970,2,C7,283.0,2013-04-18
26,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,397,33,C7,14 AVENUE B,10009,25,2.0,27,3574.0,18212.0,1970,2,C7,13185684.0,2013-01-31
30,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,53,C7,170 EAST 2ND STREET,10009,36,3.0,39,4452.0,17664.0,1970,2,C7,3810602.0,2012-10-26
31,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,400,56,C4,203 EAST 4TH STREET,10009,10,1.0,10,2404.0,6975.0,1970,2,C4,7333333.0,2013-09-04
32,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,400,57,C4,201 EAST 4TH STREET,10009,9,1.0,9,2404.0,6875.0,1970,2,C4,7333333.0,2013-09-04